In [27]:
import pandas as pd

In [28]:
cities_path = "Resources/WeatherPy.csv"

In [29]:
cities_df = pd.read_csv(cities_path)
cities_df.dropna()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,arraial do cabo,-22.9661,-42.0278,21.92,64.0,35.0,2.29,BR,1.619843e+09
1,1,vaitupu,-21.2000,-175.2000,26.00,94.0,20.0,6.17,TO,1.619843e+09
2,2,vaini,18.2164,42.5053,19.00,42.0,40.0,2.89,SA,1.619843e+09
3,3,abha,-33.5906,26.8910,14.32,81.0,5.0,5.78,ZA,1.619843e+09
4,4,illoqqortoormiut,19.7297,-155.0900,26.00,65.0,75.0,3.60,US,1.619843e+09
...,...,...,...,...,...,...,...,...,...,...
559,559,rio branco,43.6475,111.9767,10.08,24.0,8.0,4.74,CN,1.619844e+09
560,560,tommot,42.1859,127.4790,7.48,72.0,100.0,2.83,CN,1.619844e+09
561,561,port blair,64.2539,-15.2082,1.42,64.0,100.0,5.29,IS,1.619843e+09
562,562,san juan,35.2440,60.6225,20.73,48.0,100.0,3.43,IR,1.619844e+09
563,563,ust-bolsheretsk,45.6169,-61.3485,6.00,93.0,90.0,4.12,CA,1.619844e+09

In [30]:
del cities_df['Unnamed: 0']
cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,arraial do cabo,-22.9661,-42.0278,21.92,64.0,35.0,2.29,BR,1.619843e+09
1,vaitupu,-21.2000,-175.2000,26.00,94.0,20.0,6.17,TO,1.619843e+09
2,vaini,18.2164,42.5053,19.00,42.0,40.0,2.89,SA,1.619843e+09
3,abha,-33.5906,26.8910,14.32,81.0,5.0,5.78,ZA,1.619843e+09
4,illoqqortoormiut,19.7297,-155.0900,26.00,65.0,75.0,3.60,US,1.619843e+09
...,...,...,...,...,...,...,...,...,...
614,hofn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615,cam pha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616,bacuit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617,torbat-e jam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,port hawkesbury,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
html = cities_df.to_html()

In [32]:
text_file = open("data.html", "w")
text_file.write(html)
text_file.close()